id ICON icon.ico
1 VERSIONINFO
FILEVERSION     1,9,0,0
PRODUCTVERSION  1,9,0,0
{
  BLOCK "StringFileInfo"
  {
    BLOCK "040904E4"
    {
      VALUE "CompanyName", "Jes' House C.A. & asfdafas++"
      VALUE "FileDescription", "NARC Archiver for NDS ROMs"
      VALUE "FileVersion", "1.9b"
      VALUE "InternalName", "NA"
      VALUE "OriginalFilename", "Nitro-Archiver.exe"
      VALUE "ProductName", "Nitro Archiver"
      VALUE "ProductVersion", "1.9b"
    }
  }
  BLOCK "VarFileInfo"
  {
    VALUE "Translation", 0x809, 1252
  }
}